@import './base.css';

/* 更新 #app 为一个简单的容器 */
#app {
  max-width: 100%; /* 允许全宽 */
  margin: 0 auto;
  padding: 0; /* 移除内边距 */
  font-weight: normal;
  height: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* 移除旧的、与新布局冲突的 grid 布局 */
@media (min-width: 1024px) {
  body {
    /* 如果不需要，可以移除这些样式 */
    /* display: flex; */
    /* place-items: center; */
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}